{% extends 'todoapp/layout.html' %}

{% block content %}

<div style="margin-top: 50px;" class="ui container">
<h1 class="ui center aligned header">Editing task</h1>
<form class="ui form" method="post">
  {% csrf_token %}
  <div class="field">
    <input type="text" name="title" placeholder="Enter new task title" value="{{todo.title}}" required>
    <input type="text" name="description" placeholder="Enter new task description" value="{{todo.description}}" required>
    <input type="date" name="deadline" placeholder="Enter new task deadline" value="{{todo.deadline|date:'Y-m-d'}}" required>
  </div>
  <button class="ui teal basic button" type="submit">Edit</button>
</form>
  </div>


{% endblock content %}